<!DOCTYPE html>
<html>

<body>
    <center>
        <h1>Total Score Calculator</h1><br><br>
        <form action="/finalscore" method="GET">
            Subject1 Marks = <input type="number" min="1" max="100" name="mks"><br><br>
            Subject2 Marks = <input type="number" min="1" max="100" name="mks"><br><br>
            Subject3 Marks = <input type="number" min="1" max="100" name="mks"><br><br>
            Subject4 Marks = <input type="number" min="1" max="100" name="mks"><br><br>
            <input type="submit" value="Calculate Total">
        </form>
    </center>
</body>

</html>